NEXT_PUBLIC_SUPABASE_URL=https://xotxtplmwxzmnphvbydl.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InhvdHh0cGxtd3h6bW5waHZieWRsIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQ2OTY5ODYsImV4cCI6MjA5MDI3Mjk4Nn0.PiihLsiSG7LTeeejEdIrsEglZ-lS6wvjuDHQa-Bndco
NEXT_PUBLIC_AWS_LOCATION_API_KEY=v1.public.eyJqdGkiOiJlYTMxNmQwOS00NTU4LTQwNzAtOTljNS1hYzlmMWFkN2QyMjAifWdVyFn7_P0rt7og_jzk-OxT9nOzaUDDub_H3rK37RQ6E25Gs9HjyJsWp0LRU6FeyQiiLshawE15jVWLmCOCSJkQldWYa-dO-P8sB5gjzE92iwmicHhIUe3Ns3PQUMyZw03oEGx8q2rv_qK4f8cCP9jTW6jbMUSzuYHdcwWeH3bYsuC_Pcb8OmMj5yrKmqNFONasWivy4gk7SK70F10EW6fGm5UThnSOxxnLE3x3-LNdmdxqKRpCxeUO57RPH1xgtnpctRQMYgveRpLnVZVwm-IGVQsc9kPd5x3Oa1NNDHfFrujt9h-8pc8uZrPJUERGU4SyYskIw-uIcSyB_NHXWOU.N2IyNTQ2ODQtOWE1YS00MmI2LTkyOTItMGJlNGMxODU1Mzc2
NEXT_PUBLIC_AWS_REGION=eu-central-1
NEXT_PUBLIC_AWS_MAP_NAME=kapakka-map
